<div class="dashboard-index">
  <h5>Connected remotes :</h5>
  <ul class="remote-list">
    {{#each model as |remote index|}}
   <li class="remote">

     {{#link-to "dashboard.remote" remote.id}}{{remote.id}}{{/link-to}}

   </li>
    {{/each}}
 </ul>
</div>


