<div class="remotes-actions">

  <h5>Actions of {{remoteId}}</h5>

  <div class="devices">
    {{#each model as |device|}}
      {{remote-device remoteId=remoteId device=device}}
    {{/each}}
  </div>

</div>